*,
*::after,
*::before{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
.main {
    width: 450px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto;
    overflow: hidden;
    position: relative;

}
.pic{
    width: 100%;
    height: 100%;
    background: url('\other8.jpg') no-repeat center center /cover;

    transform: scale(1);
    transition: 0.4s;
    position: relative;
}
.main:hover>.pic {
    transform: scale(1.4);
    letter-spacing: 5px;
}
.main .pic .box1{
    width: 80%;
            height: 90%;
    background-color: rgba(0, 255, 255, 0);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 3px solid white;
    border-right: 3px solid white;
    z-index: 1;

   


}
.main .pic .box2{
    width: 90%;
            height: 80%;

    background-color: rgba(44, 17, 24, 0);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    z-index: 1;
    

   


}
.main .pic h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-shadow: 2px 2px 5px rgba(4, 172, 250, 0.767);
    
}
.main .pic .box3{
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    


